body{

margin:0;

font-family:Arial;

background:#f5f7fb;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#0d47a1;

color:white;

}

.header button{

padding:10px 20px;

background:white;

border:none;

border-radius:6px;

cursor:pointer;

}

.welcome{

text-align:center;

background:white;

margin:25px;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px lightgray;

}

.attendance{

text-align:center;

background:white;

margin:25px;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px lightgray;

}

#status{

color:red;

font-size:30px;

}

#scanBtn{

width:180px;

height:180px;

font-size:80px;

border-radius:50%;

border:none;

background:#1565c0;

color:white;

cursor:pointer;

margin-top:20px;

}

.note{

background:white;

margin:25px;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px lightgray;

}

.note li{

margin:15px;

font-size:18px;

}