body{

    font-family:Arial;

    background:#eef2f7;

}

.container{

    width:95%;

    margin:auto;

    margin-top:30px;

}

h1{

    text-align:center;

    color:#1565C0;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

    margin-top:20px;

}

th{

    background:#1565C0;

    color:white;

    padding:12px;

}

td{

    border:1px solid #ddd;

    text-align:center;

    padding:10px;

}

tr:nth-child(even){

    background:#f5f5f5;

}

button{

    padding:12px 20px;

    background:#1565C0;

    color:white;

    border:none;

    border-radius:6px;

    cursor:pointer;

}